<footer class="d-flex justify-content-around align-items-center text-white"  id="contact">
    <div class="about-footer">
        <h2>Sobre nós</h2>
        <p class="mb-0">Na Bakery, entregamos sabores que aquecem o coração todos os dias. Produtos frescos e feitos com carinho
            para você.</p>
        <p class="mb-0">CNPJ: XX.XXX.XXX/XXXX-XX</p>
    </div>

    <div class="navbar-about">
        <h2>Navegação</h2>

        <ul class="p-0">
            <li><a href="#home"><img src="/assets/imgs/components/navbar/house.svg" alt="icone-de-casa"> Home</a></li>
            <li><a href="#products"><img src="/assets/imgs/components/navbar/bag-shopping.svg" alt="icone-de-compras">
                    Produtos</a></li>
            <li><a href="#about"><img src="/assets/imgs/components/navbar/info.svg" alt="icone-de-informacao"> Sobre
                    nós</a></li>
            <li><a href="#contact"><img src="/assets/imgs/components/navbar/phone.svg" alt="icone-de-contato">
                    Contato</a></li>
        </ul>
    </div>

    <div class="social-about">
        <h2>Redes sociais</h2>

        <div>
            <a href="#"><img src="/assets/imgs/components/footer/facebook.svg" alt="logo-facebook"> Facebook</a>

            <a href="#"><img src="/assets/imgs/components/footer/instagram.svg" alt="logo-instagram"> Instagram</a>

            <a href="#"><img src="/assets/imgs/components/footer/twitter.svg" alt="logo-twitter"> Twitter</a>
        </div>
    </div>
</footer>

<div class="footer-secondary">
    <small>&copy; 2024 Bakery. Todos os direitos reservados.</small>
</div>