<nav class="d-flex justify-content-between align-items-center">
    <div>
        <img style="width: 90px;" src="/assets/icons/logo.png" alt="logo-bakery">
    </div>

    <div class="h-100 w-75">
        <ul class="nav-links d-flex align-items-center justify-content-around h-100">
            <li>
                <a class="text-dark text-decoration-none" href="/">
                    <img class="me-2" style="width: 17px;" src="/assets/imgs/components/navbar/house.svg" alt="icone-de-casa"> Ínicio
                </a>
            </li>

            <li>
                <a class="text-dark text-decoration-none" href="/#products">
                    <img class="me-2" style="width: 17px;" src="/assets/imgs/components/navbar/bag-shopping.svg" alt="icone-de-compras"> Produtos
                </a>
            </li>

            <li>
                <a class="text-dark text-decoration-none" href="/#about">
                    <img class="me-2" style="width: 17px;" src="/assets/imgs/components/navbar/info.svg" alt="icone-de-informacao"> Sobre nós
                </a>
            </li>

            <li>
                <a class="text-dark text-decoration-none" href="/#contact">
                    <img class="me-2" style="width: 17px;" src="/assets/imgs/components/navbar/phone.svg" alt="icone-de-contato">Contato
                </a>
            </li>
        </ul>
    </div>
</nav>