<nav class="nav-bar">
    <div class="box-logo">
        <img src="/assets/imgs/logo.png" alt="logo-bakery">
    </div>

    <div class="box-links">
        <ul>
            <li>
                <a href="#home">
                    <img style="width: 15px;" src="/assets/imgs/components/navbar/house.svg" alt="icone-de-casa"> Ínicio
                </a>
            </li>

            <li>
                <a href="#products">
                    <img src="/assets/imgs/components/navbar/bag-shopping.svg" alt="icone-de-compras"> Produtos
                </a>
            </li>

            <li>
                <a href="#about">
                    <img src="/assets/imgs/components/navbar/info.svg" alt="icone-de-informacao"> Sobre nós
                </a>
            </li>

            <li>
                <a href="#contact">
                    <img src="/assets/imgs/components/navbar/phone.svg" alt="icone-de-contato">Contato
                </a>
            </li>
        </ul>
    </div>

    <div class="box-menu">
        <button id="menu" href="#menu">
            <img src="/assets/imgs/components/navbar/menu.svg" alt="icone-de-menu">
        </button>
    </div>
</nav>


<!-- Menu -->
<div class="box-menu-items" id="box-menu-items">
    <div class="box-menu-links">
        <ul>
            <li><a href="#home"><img src="/assets/imgs/components/navbar/house.svg" alt="icone-de-casa"> Ínicio</a></li>
            <li><a href="#products"><img src="/assets/imgs/components/navbar/bag-shopping.svg" alt="icone-de-compras">
                    Produtos</a></li>
            <li><a href="#about"><img src="/assets/imgs/components/navbar/info.svg" alt="icone-de-informacao"> Sobre
                    nós</a></li>
            <li><a href="#contact"><img src="/assets/imgs/components/navbar/phone.svg" alt="icone-de-contato">
                    Contato</a></li>
        </ul>
    </div>
</div>