<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/css/pages/{{page}}/style.css">
    <link rel="stylesheet" href="/css/pages/{{page}}/responsive.css">

    <link rel="icon" href="/assets/icons/logo.png">
</head>

<body>
    {{> navbar}}

    {{{body}}}

    {{> cart}}
    {{> footer}}

    <script type="module" src="/js/cart/funcCart.js"></script>
    <script type="module" src="/js/cart/configCart.js"></script>
    <script type="module" src="/js/pages/home/script.js"></script>

    <script src="/js/components/navMenu.js"></script>
</body>

</html>