@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Componentes */
@import url("../../components/navbar.css");
@import url("../../components/cart.css");
@import url("../../components/footer.css");
@import url("../../components/btnBack.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização da apresentação de categoria */

.red-section-product {
    position: relative;
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    z-index: 1;
}

.red-section-product .box-img-section {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: 2;
}

.red-section-product .box-img-section::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
    z-index: 3;
}

.red-section-product h1 {
    position: absolute;
    content: "";
    z-index: 4;
    color: white;
    font-family: "Merriweather", sans-serif;
}

/* Caixa principal dos produtos da seção */

.box-main-products {
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 90px 0 90px;
    /* background-color: gray; */
}

/* Configuração da caixa dos cards */

.box-cards {
    width: 100%;
    min-height: 350px;
    /* background-color: rgb(255, 153, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;
}


.box-cards a {
    color: black;
    text-decoration: none;
}

.box-cards a:hover {
    text-decoration: underline;
}

/* Configuração dos cards */

.card-item {
    /* background-color: #422507; */
    width: 260px;
    border-radius: 10px;
    color: black;
    
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    /* border: 1px solid black; */

    opacity: 1;
    transition: opacity .1s;
}

.card-item:hover {
    opacity: .9;
}

.card-item .card-img-item {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.card-item .card-img-item img {
    height: 200px;
    width: 100%;
    /* border-radius: 10px; */
    /* background-color: gray; */
}

.card-item .card-body {
    margin-top: 25px;
    font-family: "Open Sans", sans-serif;
    color: #5C4033; 
}

.card-item .card-body .card-item-name {
    font-weight: bold;
}



/* Estilização para o popup de aviso de adição de item ao carrinho */

#toast-container>div {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 100% !important;
}

#toast-container>div:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.toast-title {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
}

.toast-message {
    font-family: "Arial", sans-serif;
}



/* Configuração da seção de filtragem dos produtos */

.box-search-products {
    display: flex;
    padding: 10px 5%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    /* background-color: antiquewhite; */
    font-family: "Roboto", sans-serif;
}

.box-search-products label {
    font-weight: bold;
    font-size: 13px;
    margin-right: 4px;
}

.box-search-products select {
    height: 35px;
    width: 100px;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 4px;
}

/* Configuração da divisória de pesquisa por produto */

.box-search-products input {
    padding-left: 10px;
    border: 1px solid gray;
    height: 40px;
    width: 230px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.box-search-products button {
    font-size: 15px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
}