<div class="red-section-product">
    <h1>Seção de Doces</h1>
    
    <div 
    class="box-img-section"
    style="background: gray url('/assets/imgs/pages/home/products/doces.jpg'); background-position: center; background-size: cover;"
    ></div>
</div>