<main id="home">
    <section class="red-about">
        <div class="red-content">
            <div class="red-line">
                <h1>Boas vindas a Panificadora Bakery!</h1>

                <div class="red-content-dinamic">
                    <p>O sabor que aquece o coração, <span id="txt-dinamic"></span></p>
                </div>
            </div>

            <a href="#about" class="btn-about-shop">
                <button>
                    <img src="/assets/imgs/pages/home/arrow-right.svg" alt="icone-de-seta-direita"> Conheça a nossa loja
                </button>
            </a>
        </div>
    </section>


    <section id="products" class="products">
        <div class="box-products">
            <a href="/produtos/paes">Pães</a>

            <div class="img-product">
                <img src="/assets/imgs/pages/home/products/bread.jpg" alt="pães">
            </div>
        </div>

        <div class="box-products">
            <a href="/produtos/bolos">Bolos</a>

            <div class="img-product">
                <img src="/assets/imgs/pages/home/products/cakes.avif" alt="bolos">
            </div>
        </div>

        <div class="box-products">
            <a href="/produtos/frios">Frios</a>

            <div class="img-product">
                <img src="/assets/imgs/pages/home/products/refris.avif" alt="frios">
            </div>
        </div>

        <div class="box-products">
            <a href="/produtos/salgados">Salgados</a>

            <div class="img-product">
                <img src="/assets/imgs/pages/home/products/salgados.avif" alt="salgados">
            </div>
        </div>

        <div class="box-products">
            <a href="/produtos/salgados">Doces</a>

            <div class="img-product">
                <img src="/assets/imgs/pages/home/products/candys.jpg" alt="doces">
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="box-logo-about">
            <img src="/assets/imgs/logo.png" alt="logo-bakery">
        </div>

        <div class="box-content-about">
            <h2>Um pouquinho sobre nós..</h2>

            <p>Com o propósito de transformar o mercado de panificação e confeitaria, nossa Bakery une paixão,
                inovação e dedicação para oferecer os melhores pães, bolos, salgados, doces, refrigerantes e muito
                mais. Desde 2024, temos o prazer de fazer parte dos seus momentos especiais, proporcionando
                qualidade e sabor incomparáveis.</p>

            <p>Nossa jornada começou em Riolândia com uma pequena ideia: criar experiências únicas para nossos
                clientes. Com muito esforço e dedicação, crescemos e nos tornamos referência no setor, mantendo
                sempre o compromisso com a qualidade e a inovação.</p>
        </div>
    </section>
</main>

<div class="box-location-shop">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3749.7969285443833!2d-49.68343962585818!3d-19.975040639710482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a2c8107fe66cbb%3A0x2c0d2974e4f5a3f1!2sR.%20Para%C3%ADba%2C%20Riol%C3%A2ndia%20-%20SP%2C%2015495-000!5e0!3m2!1spt-BR!2sbr!4v1731964468979!5m2!1spt-BR!2sbr"
        style="border: 1px solid brown;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="whatsapp-contact">
    <a target="_blank" href="https://web.whatsapp.com/">
        <img src="/assets/imgs/pages/home/suport/whatsapp.svg" alt="icone-de-whatsapp">
    </a>
</div>


<script type="module" src="/js/pages/home/txtdinamic.js"></script>