<div class="red-section-product">
    <h1>Seção de Pães</h1>

    <div 
    class="box-img-section"
    style="background: gray url('/assets/imgs/pages/home/products/pães.jpg'); background-size: cover;"
    ></div>
</div>

<div class="pointSearch">
    <div>
        <label for="filterSearch">Filtrar por</label>
    <select id="filterSearch" name="categoria">
        <option value="todos" selected>Todos os produtos</option>
        <option value="doce">Doce</option>
        <option value="salgado">Salgado</option>
    </select>
    </div>

    <div class="countProduct">2 produtos</div>
</div>