<div class="bx-register d-flex justify-content-center align-items-center">

    <div class="container d-flex justify-content-center align-items-center rounded p-3 gap-5"
        style="max-width: 750px; min-height: 300px; background-color: #e8e8e8; margin-left: 10%; margin-right: 10%;">
        <div class="w-100 text-center">
            <img class="mb-2" height="120px" width="150px" src="/assets/icons/logo.png" alt="logo">
            <p class="fs-3 fw-bold">Cadastre-se para conhecer nossos produtos!</p>
        </div>

        <form class="d-flex flex-column gap-3 w-100" action="/access/login">
            <div>
                <label for="name" class="form-label">Nome:</label>
                <input id="name" class="form-control fs-5" type="text" placeholder="Insira o seu nome">
            </div>
            <div>
                <label for="email" class="form-label">Email:</label>
                <input id="email" class="form-control fs-5" type="email" placeholder="Insira o email">
            </div>
            <div>
                <label for="password" class="form-label">Senha:</label>
                <input id="password" class="form-control fs-5" type="password" placeholder="Insira a senha">
            </div>
            <div>
                <label for="repeat-password" class="form-label">Repita a senha:</label>
                <input id="repeat-password" class="form-control fs-5" type="password" placeholder="Repita a senha">
            </div>

            <button class="btn btn-primary fs-5 fw-bold" type="submit"><i class="fa-solid fa-user-plus me-2"></i> Cadastre-se</button>
        </form>
    </div>

</div>