<div class="red-section-product">
    <h1>Seção de Varejo</h1>

    <div 
    class="box-img-section"
    style="background: gray url('/assets/imgs/pages/home/products/varejo.avif'); background-size: cover;"
    ></div>
</div>