@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração do botão menu */

.box-menu {
    display: none;
}

.box-menu-items.show {
    display: none;
}

/* Configuração da barra de navegação */

.nav-bar {
    height: 100px;
    background-color: #F8ECD4;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Configuração da logo da loja */

.box-logo {
    height: 70px;
    width: 100px;

    /* background-color: gray; */
}

.box-logo img {
    height: 70px;
    width: 100px;
}

/* Configuração da caixa dos links */

.box-links {
    display: flex;
    justify-content: space-around;

    width: 950px;
    height: 40px;
    /* background-color: red; */
}

.box-links ul li i {
    color: #5C4033;
    padding-right: 4px;
}

.box-links ul {
    display: flex;
    /* background-color: rebeccapurple; */
    height: 40px;
    align-items: center;
    column-gap: 95px;
}

.box-links ul li {
    padding: 10px;
    border-radius: 10px;
    list-style-type: none;
}

.box-links ul li a {
    color: black;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

/* Configuração do menu */

.red-about {
    position: relative;
}

.box-menu-items {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 0px;
    background-color: #987954;

    height: 0px;
    opacity: 0;
    pointer-events: none;
    transition: .2s height ease-in-out, opacity .2s ease-in;
}

.box-menu-items.show {
    height: 100px;
    display: flex;
    opacity: 1;
    pointer-events: all;
}

.box-menu-links ul {
    position: absolute;

    list-style-type: none;
    display: flex;
    column-gap: 26px;

    height: 100%;
    width: 100%;

    justify-content: space-around;
    align-items: center;

    margin: 0;
    padding: 0;
}

.box-menu-items ul li {
    border-radius: 10px;
    list-style-type: none;
    opacity: 0;
    transition: 1s opacity;
}

.box-menu-items.show ul li {
    opacity: 1;
}

.box-menu-links ul li a {
    color: black;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.box-menu-links ul li i {
    color: #5C4033;
    padding-right: 4px;
}


/* Configuração em específico do carrinho de compras */

.box-cart-shopping button {
    position: fixed;
    display: block;

    bottom: 0;

    z-index: 98;
    width: 100%;
    height: 34px;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #C19A6B;
    transition: all .2s;
}

.box-cart-shopping button:hover {
    cursor: pointer;
    background-color: #987954;
}

.box-cart-shopping button p {
    color: black;
    width: 110px;
    margin: 0;
}

.box-cart-shopping button p span {
    font-weight: bold;
}


/* Configuração do conteúdo do carrinho de compras */

.modal-cart-shopping {
    position: fixed;
    display: flex;
    z-index: 100;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

    background-color: transparent;
    transition: background-color .1s, opacity .2s;
}

.modal-cart-shopping.open {
    background-color: rgb(0, 0, 0, 0.8);
    opacity: 1;
    height: 100%;
    pointer-events: all;
}

.modal-cart-content {
    display: block;
    max-height: 600px;
    min-height: 320px;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;

    width: 400px;
    border-radius: 12px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: white;
}

.modal-cart-content h2 {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.modal-cart-items.empty {
    padding: 0;
    margin: 0;
}

.modal-cart-items {
    max-height: 200px;
    overflow-y: auto;

    /* background-color: gray; */
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 16px;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;
}

.cart-item p {
    margin: 0;
}

.cart-item button {
    height: 30px;
    width: 100px;
    border-radius: 6px;
    background-color: transparent;
    color: red;
    border: 0;
}


.modal-inputs-send {
    /* background-color: rgb(51, 51, 51); */

    width: 100%;
    height: 170px;

    display: flex;
    row-gap: 12px;
    justify-content: center;
    flex-direction: column;
}

.modal-inputs-send small {
    text-align: center;
}

.modal-inputs-send input {
    height: 70px;
    outline: none;
    border: 0;
    background-color: #c0c0c0;
    border-radius: 5px;
    padding-left: 15px;
}

.modal-inputs-send input::placeholder {
    color: black;
}

.modal-btns-send button {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 0;
}

.modal-btns-send {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.modal-btns-send .modal-btn-buy {
    background-color: #2626bb;
    color: white;

    transition: background-color .1s;
}

.cart_modal_btn_buy_disabled {
    background-color: gray !important;
}

.modal-btns-send .modal-btn-buy:hover {
    background-color: #191983;
}

.modal-btns-send .modal-btn-close {
    background-color: #fb3e3e;
    color: white;

    transition: background-color .1s;
}

.modal-btns-send .modal-btn-close:hover {
    background-color: #bd2f2f;
}



/* Configuração da apresentação da loja */

.red-about {
    position: relative;

    height: 400px;
    width: 100%;

    background: url("../assets/primary-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* background-color: gray; */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Configuração da imagem */

.red-about::after {
    content: " ";
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}

/* Configuração do conteúdo da apresentação */

.red-content {
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    row-gap: 64px;
    align-items: center;

    /* background-color: blueviolet; */
}

.red-line {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;

    /* background-color: red; */
}

/* Configuração da caixa dos textos dinâmicos */

.red-about .red-content .red-line h1 {
    font-family: "Merriweather", serif;
    font-size: 34px;
    font-weight: 900;
    text-shadow: 0 0 29px #C19A6B;
    color: #C19A6B;
    text-align: center;
}

.red-content-dinamic {
    display: flex;
    column-gap: 7px;
    height: 24px;
}

.red-content-dinamic p {
    font-family: "Open Sans", serif;
    font-size: 18px;
    color: #F8ECD4;

    /* background-color: brown; */
}

.red-content-dinamic p span {
    height: 24px;
    width: 300px;

    color: #D2691E;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 900;
    text-shadow: 0 0 5px black;
    position: relative;

    /* background-color: #F8ECD4; */
}

.red-content-dinamic p span::after {
    content: "";
    margin-left: 4px;
    position: absolute;
    height: 24px;
    width: 6px;
    background-color: #8B4513;
}

.red-content-dinamic span.espera::after {
    animation: blink 0.5s infinite;
    background-color: rgba(139, 69, 19, 0.5);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Configuração do conteúdo do botão */

.red-content button {
    font-family: "Open Sans", serif;

    font-size: 14px;
    font-weight: 700;
    height: 50px;
    width: 220px;
    border-radius: 10px;
    border: none;

    transition: background-color .2s;
}


.red-content button:hover {
    background-color: #F4C430;
    cursor: pointer;
}

.red-content a button i {
    padding-right: 15px;
    /* background-color: gray; */

    transition: padding-right .2s;
}

.red-content a button:hover i {
    padding-right: 10px;
}










/* Configuração da seção de produtos */

.products {
    min-height: 600px;
    background: linear-gradient(to center, rgba(255, 0, 0, 0), #b18d46);
    padding: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    column-gap: 65px;
    row-gap: 25px;

    margin-bottom: 50px;
}

.products .box-products {
    height: 290px;
    width: 320px;
    border-radius: 15px;
    box-shadow: 0 10px 12px gray;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s;
}

.products .box-products .img-product {
    position: relative;
    height: 290px;
    width: 320px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.products .box-products .img-product img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    filter: brightness(40%);

    transition: all .1s ease;
}


.products .box-products:hover .img-product img {
    transform: scale(1.06);
    filter: brightness(50%);
    cursor: pointer;
}

.products .box-products a {
    position: absolute;

    height: 290px;
    width: 320px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;

    font-size: 25px;
    color: white;
    z-index: 1;
}







/* Configuração do sobre da empresa */

.about {
    min-height: 460px;
    width: 100%;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;

    background:
        linear-gradient(to bottom, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 40%),
        url('../assets/about-background.avif');
    background-size: cover;
    background-position: center;


    position: relative;
}


.about:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
}

.about .box-content-about {
    z-index: 1;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 900px;
    color: white;
}

.about .box-content-about h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 26px;
    color: #C19A6B;
}

.about .box-content-about p {
    font-family: "Open Sans", serif;
}

.box-logo-about {
    z-index: 1;
    height: 150px;
    width: 200px;

    /* background-color: red; */
}

.box-logo-about img {
    height: 150px;
    width: 200px;
}






/* Configuração da localização da loja */
.box-location-shop {
    height: 400px;
    width: 100%;

    margin-bottom: 100px;
}

.box-location-shop iframe {
    width: 100%;
    height: 100%;
}




/* Configuração do rodapé primário */

.footer {
    height: 100%;
    padding: 26px;

    background-color: #5C4033;

    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    color: white;

    font-family: "Open Sans", serif;
}

.footer h2 {
    color: #F8ECD4;
    font-family: "Merriweather", serif;
    font-weight: 800;
}

/* Descrição da seção de sobre */

.about-footer {
    width: 340px;
}

/* Links da seção de navegação */

.navbar-about {
    color: #C19A6B;
    padding: 10px;
}

.navbar-about a {
    color: white;
    text-decoration: none;

    transition: color .2s;
}

.navbar-about a:hover {
    color: #C19A6B;
}


/* Ícones da seção das redes sociais */


.social-about div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.social-about a {
    color: #C19A6B;
    text-decoration: none;
}

.social-about a:hover {
    color: white;
}

.social-about i {
    color: #C19A6B;
    margin-right: 5px;

    transition: color .2s;
}

.social-about a:hover i {
    color: white;
}



/* Configuração do rodapé secundário */

.footer-secondary {
    display: block;
    background-color: #5C4033;
    width: 100%;
    padding-bottom: 20px;

    height: 80px;
}

.footer-secondary small {
    text-align: center;
    display: block;
    color: #F8ECD4;
}



/* Configuração do botão de whatsapp */

.whatsapp-contact {
    position: fixed;
    height: 70px;
    width: 70px;
    background-color: #C19A6B;
    border-radius: 10px;

    bottom: 40px;
    right: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s;
    z-index: 99;
}

.whatsapp-contact:hover {
    cursor: pointer;
    background-color: #987954;
}

.whatsapp-contact i {
    font-size: 46px;
    color: black;
}