/* Botão de voltar para a rota anterior */

.boxBtnBack {
    text-align: center;
    margin: 20px 0 100px 0;
    /* border: 1px solid black; */
}

.boxBtnBack img {
    height: 15px;
    margin-right: 10px;
}

.boxBtnBack button {
    padding: 15px 100px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: #5C4033;
    font-family: "Merriweather", sans-serif;
    border: 0;
    cursor: pointer;
}

.boxBtnBack button:hover {
    transition: background-color .2s;
    background-color: #3f2c23;
}