@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800');

/* Configuração em específico do carrinho de compras */

.box-cart-shopping button {
    position: fixed;
    display: block;

    bottom: 0;

    z-index: 98;
    width: 100%;
    height: 34px;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;

    background-color: #C19A6B;
    transition: all .2s;
}

.box-cart-shopping button:hover {
    cursor: pointer;
    background-color: #987954;
}

.box-cart-shopping button p {
    color: black;
    width: 120px;
    margin: 0;
}

.box-cart-shopping button p span {
    font-weight: bold;
}

.box-cart-shopping button img {
    width: 13px;
}

/* Configuração do conteúdo do carrinho de compras */

.modal-cart-shopping {
    position: fixed;
    display: flex;
    z-index: 100;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    transition: background-color .1s, opacity .2s;
}

.modal-cart-shopping.open {
    background-color: rgb(0, 0, 0, 0.8);
    opacity: 1;
    height: 100%;
    pointer-events: all;
}

.modal-cart-content {
    position: relative;
    display: block;
    max-height: 600px;
    min-height: 320px;

    margin: 100px 30px 100px 30px;

    min-width: 400px;
    max-width: 430px;
    border-radius: 12px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: white;
}

.modal-cart-content h2 {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

/* .modal-cart-items.empty {
    padding: 0;
    margin: 0;
} */

.modal-cart-items {
    max-height: 216px;
    overflow-y: auto;
    font-family: "Poppins", sans-serif;

    /* background-color: gray; */
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 16px;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box-content-item {
    column-gap: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
}

.box-content-item p {
    margin: 0;
}

.box-content-item button {
    height: 30px;
    width: 100px;
    border-radius: 6px;
    background-color: transparent;
    color: red;
    border: 0;
    font-family: "Poppins", sans-serif;
}

.box-content-item button:hover {
    cursor: pointer;
}

.modal-inputs-send {
    /* background-color: rgb(51, 51, 51); */

    width: 100%;

    display: flex;
    row-gap: 12px;
    justify-content: center;
    flex-direction: column;
}

.modal-inputs-send small {
    text-align: center;
}

.modal-inputs-send input {
    min-height: 45px;
    outline: none;
    border: 0;
    background-color: #c0c0c0;
    border-radius: 5px;
    padding-left: 15px;
    font-family: "Poppins", sans-serif;
}

.modal-inputs-send input::placeholder {
    color: black;
}

.modal-btns button {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    border: 0;
}

.modal-btns {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.modal-btns .modal-btn-buy {
    background-color: #2626bb;
    color: white;

    transition: background-color .1s;
}

.cart_modal_btn_buy_disabled {
    background-color: gray !important;
    cursor: default !important;
}

.modal-btns .modal-btn-buy:hover {
    background-color: #191983;
    cursor: pointer;
}

.modal-btns .modal-btn-close {
    background-color: #fb3e3e;
    color: white;

    transition: background-color .1s;
}

.modal-btns .modal-btn-close:hover {
    background-color: #bd2f2f;
    cursor: pointer;
}

.modal-btn-remove-items {
    position: absolute;
    right: 20px;
    top: 28px;
    height: 20px;
    background-color: transparent;
    /* border: 1px solid gray; */
}

.modal-btn-remove-items img {
    height: 100%;
    float: right;
    cursor: pointer;
}