@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800');

nav {
    height: 90px;
    padding: 0 10%;
}

.nav-links {
    font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 880px) {
    .nav-links {
        display: none !important;
    }
}