<div class="red-section-product">
    <h1>Seção de Bolos</h1>

    <div 
    class="box-img-section"
    style="background: gray url('/assets/imgs/pages/home/products/bolos.avif'); background-position: 800px; background-size: cover;"
    >

    </div>
</div>